button {
    padding: 1em;
    font-size: 22px;
    font-weight: bold;
    background-color: antiquewhite;
    border: none;
    margin: 2px;
    border-radius: 5px;
}

input {
    padding: 1em;
    font-size:18px;
    min-width: 400px;
}

.memeText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
}

.memeTextTop {
    position: relative;
    top: -30px;
}

.memeTextBottom {
    position: relative;
    top: 30px;
}
